@page
@model HospiEnCasa.WebApp.Pages.Impresoras.Tipo_Impresora
@{
    ViewData["Title"] = "TipoImpresora";
}


<h1>@ViewData["Title"]</h1>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row m-4" style="padding-top: 10px;">
    <div class="col-sm-12">
        <button style="width: auto;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#FormModal">Tipo de Impresora</button>
        <a style="width: auto; class="btn btn-primary" asp-page="/Impresoras/GestionImpresora">ir a Impresoras</a>
    </div>
</div>


<div id="container" class="app-title">
    <div class="row">
        <div margin:0 class="col-12 table-responsive">
            <table id="customerDatatable" class="table table-striped table-bordered nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre tipo de impresora</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tipoImpresora in Model.listadoTipoImpresora)
                    {
                        <tr>
                            <td scope="row">@tipoImpresora.id</td>
                            <td>@tipoImpresora.nombre_impresora</td>
                            <td>
                                <button asp-controller="Registro" asp-action="Edit" title="Editar" asp-route-id="1"
                                class="btn btn-info"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                                <button asp-controller="Registro" asp-action="Delete" title="Eliminar" asp-route-id="1"
                                class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header " style="background-color:#2668AC ;">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro - Tipo impresora</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p class="text-primary">
                        Los campos con asterisco (<font color="red">*</font>) son obligatorios.
                    </p>
                    <div class="form-row" style="padding-top:14px;">

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Tipo de Impresora (<font color="red">*</font>)</label>
                                <input type="text" class="form-control" id="tipoImpresora" name="tipoImpresora"
                                    placeholder="Tipo de Impresora" minlength="4" maxlength="15" required="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: auto;"  type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button style="width: auto;"  type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
