@page
@model HospiEnCasa.WebApp.Pages.Revision.GestionRevision
@{
    ViewData["Title"] = "Gestionar Revisiones";
}

<h1>@ViewData["Title"]</h1>

<div class="row m-4" style="padding-top: 10px;">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormModal">Registrar
        </button>
    </div>

</div>

<div class="container">
    <div margin:0 class="col-sm-12">
        <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Profesión</th>
                    <th>Dirección</th>
                    <th>E-mail</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Haminton</td>
                    <td>Mena Mena</td>
                    <td>10774586256</td>
                    <td>Ingeniero de sistemas</td>
                    <td>cra 12 # 46-136</td>
                    <td>mafia00796@hotmail.com</td>
                    <td>Jefe</td>
                    <td>
                        <a asp-controller="Registro" asp-action="Edit" asp-route-id="1"
                            class="btn btn-success">Pendiente</a>
                    </td>
                    <td>
                        <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Haminton</td>
                    <td>Mena Mena</td>
                    <td>10774586256</td>
                    <td>Ingeniero de sistemas</td>
                    <td>cra 12 # 46-136</td>
                    <td>mafia00796@hotmail.com</td>
                    <td>Jefe</td>
                    <td>
                        <a asp-controller="Registro" asp-action="Edit" asp-route-id="1"
                            class="btn btn-success">Pendiente</a>
                    </td>
                    <td>
                        <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Haminton</td>
                    <td>Mena Mena</td>
                    <td>10774586256</td>
                    <td>Ingeniero de sistemas</td>
                    <td>cra 12 # 46-136</td>
                    <td>mafia00796@hotmail.com</td>
                    <td>Jefe</td>
                    <td>
                        <a asp-controller="Registro" asp-action="Edit" asp-route-id="1"
                            class="btn btn-success">Pendiente</a>
                    </td>
                    <td>
                        <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Haminton</td>
                    <td>Mena Mena</td>
                    <td>10774586256</td>
                    <td>Ingeniero de sistemas</td>
                    <td>cra 12 # 46-136</td>
                    <td>mafia00796@hotmail.com</td>
                    <td>Jefe</td>
                    <td>
                        <a asp-controller="Registro" asp-action="Edit" asp-route-id="1"
                            class="btn btn-success">Pendiente</a>
                    </td>
                    <td>
                        <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>jair</td>
                    <td>Mena Mena</td>
                    <td>10774586256</td>
                    <td>Ingeniero de sistemas</td>
                    <td>cra 12 # 46-136</td>
                    <td>mafia00796@hotmail.com</td>
                    <td>Jefe</td>
                    <td>
                        <a asp-controller="Registro" asp-action="Edit" asp-route-id="1"
                            class="btn btn-success">Pendiente</a>
                    </td>
                    <td>
                        <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Haminton</td>
                    <td>Mena Mena</td>
                    <td>10774586256</td>
                    <td>Ingeniero de sistemas</td>
                    <td>cra 12 # 46-136</td>
                    <td>mafia00796@hotmail.com</td>
                    <td>Jefe</td>
                    <td>
                        <a asp-controller="Registro" asp-action="Edit" asp-route-id="1"
                            class="btn btn-success">Pendiente</a>
                    </td>
                    <td>
                        <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal guardar revision -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header " style="background-color:#2668AC ;">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p class="text-primary">
                        Los campos con asterisco (<font color="red">*</font>) son obligatorios.
                    </p>
                    <div class="form-row" style="padding-top:14px;">
                        <div class="form-group col-md-4">
                            <label>Asignar operario o técnico(<font color="red">*</font>)</label>
                            <select class="form-control">
                                <option value="">Seleccionar..</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Impresora (<font color="red">*</font>)</label>
                            <select class="form-control">
                                <option value="">Seleccionar..</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Estado (<font color="red">*</font>)</label>
                            <select class="form-control">
                                <option value="">Seleccionar..</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Tipo de revisión (<font color="red">*</font>)</label>
                            <select class="form-control">
                                <option value="">Seleccionar..</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Compra de repuestos</label>
                            <select class="form-control">
                                <option value="">Seleccionar..</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Precio (<font color="red">*</font>)</label>
                            <input class="form-control" placeholder="Precio">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <div class="form-group">
                                <label>Detalles de la revisión (<font color="red">*</font>)</label>
                                <textarea class="form-control" placeholder="Detalles"></textarea>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fecha de Revisión</label>
                            <input class="form-control" type="date" id="start" name="trip-start" value=""
                                min="1900-01-01" max="2040-12-31">
                            <span class="text-danger"></span>
                        </div>

                        <hr />
                        <div class="form-row">
                            <div class="text-right " style="padding:10px 30px;">
                                <button class="btn btn-primary" type="submit"><i
                                        class="fa fa-fw fa-lg fa-check-circle"></i>Guardar</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal"><i
                                        class="fa fa-fw fa-lg fa-times-circle"></i>Cerrar</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

</div>