/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*contenedor principal*/

/* .container{
  background-color: #3333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  align-items: center;
  justify-content: center;
  display: flex;
} */

/* #principal{
  width: 900px;
  height: 400px;
  margin-top:50px ;
  display: flex;
} */
#form{

  width: 600px;
  height: 600;
  box-shadow: -5px 0 10px #fcfbfb;
  align-items: center;
  justify-content: center;
  text-align: justify
  
}
img{

 width:350px ;
 height: 400px;
display: flex;
}
.parrafo{
  background-color: bisque;
  text-align: justify;
}
#ontainer{
  background-color: rgb(245, 242, 238);
}
body{
  margin-bottom:60px ;
  background-image: url(../images/fondo.jpg);
}

th {
  text-align: center;
}

td {
  letter-spacing: 1px; 
  margin: 10%;
  padding-top: 5%;
}

tbody td {
  text-align: center;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;

  background-color: rgb(208, 224, 224);
}

tfoot th {
  text-align: right;
}
tbody, td, #estado{
  margin: 10%;
  padding-top: 5%;
  
}

button{
  width:  100px;
  height: 40px;
  margin: 2px;
  background: #1b6ec2;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 30px;
  color: aqua;
  transition: .3s ease all;
 
}

h1{
  text-align: center;
  background-color:  rgb(208, 224, 224);
  border: none; 
  padding: 30px 30px;
  font-family: 'Times New Roman', Times, serif;
}

#nav{
  width:  100px;
  height: 40px;
  margin: 1px;
  background: #aecde7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: aqua;
  transition: .3s ease all;
  text-align: center;
  padding: 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{  
  column-width: auto;
  /* background: #aecde7; */
  border-radius: 10px;
  border: none;
  padding: 10px;
  transition: .3s ease all;
  padding: 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

