@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<br>
<div class="container-fluid">
    <div for="text" class="text-center">
        <h2>
            <p>Impresoras en mantenimientos</p>
        </h2>
    </div>
    <div class="form-row">

        <div id="form" class="form-group col-md-4">            
            <img src="https://1.bp.blogspot.com/-mHCA3CH6L10/XdRH70Td_vI/AAAAAAAAKbM/315mfXKV5YY9EFOx-mNj96e5GTh9-qERACLcBGAsYHQ/s1600/Repara%2Bimpresoras-1.jpg"
                class="rounded" alt="...">
            <h4 for="text-center ">Cambio de mando principal</h4>
           
        </div>
        <div id="form" class="form-group col-md-4">
            <img src="https://th.bing.com/th/id/OIP.iPU0XTSK41u_AK1HfivY9QHaE6?pid=ImgDet&rs=1" class="rounded"
                alt="...">
            <h4 for="text-center ">Mantenimiento de cabezal</h4>
            
        </div>
        <div id="form" class="form-group col-md-4">
            <img src="https://paradacreativa.es/wp-content/uploads/2020/01/mantenimiento-de-la-impresora-foto.jpg"
                class="rounded" alt="...">
            <h4 for="text-center ">Diagnosticando</h4>           
        </div>

    </div>
    <div class="parrafo">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse consequuntur hic inventore. Eius facere enim animi quos
             soluta perferendis perspiciatis, quis distinctio excepturi veritatis at commodi nostrum vel iure quibusdam!.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam numquam, nulla culpa officia cumque saepe 
             et fugit molestiae dolorum, perferendis molestias? Quia autem quas omnis sapiente delectus, quod vero.
             </p>
    </div>
    <br>
    <div for="text" class="text-center">
        <h2>
            <p>Repuestos para Impresoras</p>
        </h2>
    </div>
    <div class="form-row">

        <div id="form" class="form-group col-md-4">
            <img src="https://http2.mlstatic.com/cabezal-de-impresora-epson-l120-l210-l355-l555-xp-310-D_NQ_NP_656828-MLV26473749653_122017-F.jpg"
                class="rounded" alt="...">
            <h4 for="text-center">Cabezal</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta repellat recusandae
                voluptatibus, possimus nesciunt enim delectus! Dignissimos harum sint, quod, porro soluta quibusdam
                at perferendis incidunt eos exercitationem vitae.</p>
        </div>

        <div id="form" class="form-group col-md-4">
            <img src="https://i.ebayimg.com/images/i/201731784433-0-1/s-l1000.jpg" class="rounded"
                alt="...">
            <h4 for="text-center">Caja de tintas</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta repellat recusandae
                voluptatibus, possimus nesciunt enim delectus! Dignissimos harum sint, quod, porro soluta quibusdam
                at perferendis incidunt eos exercitationem vitae.</p>
        </div>
        <div id="form" class="form-group col-md-4">
            <img src="https://th.bing.com/th/id/R.fe3b2effc85c168e59066d526be6af62?rik=MJGKeJV3heBF4w&pid=ImgRaw&r=0"
                class="rounded" alt="...">
            <h4 for="text-center">Tarjeta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum soluta repellat recusandae
                voluptatibus, possimus nesciunt enim delectus! Dignissimos harum sint, quod, porro soluta quibusdam
                at perferendis incidunt eos exercitationem vitae.</p>
        </div>

    </div>


</div>
